In [11]:
import pandas
x = pandas.read_html('https://rate.bot.com.tw/xrt?Lang=zh-TW')

In [14]:
type(x), len(x)

(list, 1)

In [17]:
currency = x[0]

In [18]:
type(currency)

pandas.core.frame.DataFrame

In [20]:
currency = currency.ix[:,0:5]

D:\python\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [22]:
currency.columns = [u'幣別', u'現金匯率-本行買入', u'現金匯率-本行賣出', u'即期匯率-本行買入', u'即期匯率-本行賣出']

In [26]:
currency[u'幣別'] = currency[u'幣別'].str.extract('\((\w+)\)')

In [27]:
currency

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出
0   USD     30.57     31.24     30.92     31.02
1   HKD     3.799     4.003     3.925     3.985
2   GBP     37.48      39.6     38.48      38.9
3   AUD     20.82      21.6     21.09     21.32
4   CAD     22.87     23.78     23.26     23.48
5   SGD     21.94     22.85     22.43     22.61
6   CHF     30.36     31.56     31.02     31.31
7   JPY     0.277    0.2898    0.2843    0.2883
8   ZAR         -         -      2.06      2.14
9   SEK      2.81      3.33      3.15      3.25
10  NZD     19.14     19.99     19.52     19.72
11  THB    0.8903    1.0783    0.9989    1.0389
12  PHP    0.5194    0.6524         -         -
13  IDR   0.00188   0.00258         -         -
14  EUR     33.45     34.79     34.07     34.47
15  KRW   0.02427   0.02817         -         -
16  VND   0.00096   0.00146         -         -
17  MYR     6.287     7.931         -         -
18  CNY     4.274     4.436     4.346     4.396

In [29]:
currency.to_excel('currency.xlsx')